@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Lato:wght@300&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url(../images/main-imgop0.5.jpg) no-repeat;
    background-size: cover;
    background-color: #EBEEFA;
    font-family: Lato, sans-serif;
}


/* Navigation buttons style */
nav {
    letter-spacing: 2px;
    top: 10px;
}

#nav-links {
    font-family: inherit;
    line-height: 20px;
    list-style-type: none;
}

#nav-links li {
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    padding-left: 1%;

}

#nav-links a {
    text-decoration: none;
    color: #030303;
}

#nav-links a:hover {
    border-bottom: 2px solid #030303;
}

.active {
    border: 2px solid #003087;
}

nav i {
    font-size: 280%;
    float: right;
    padding-right: 1%;
}

/* Header style */

header {
    background-color: #003087;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: auto;
    position: absolute;
    top: 5%;
    opacity: 0.9;
}

h1 {
    color: #ffffff;
    font-size: 160%;
    text-align: center;
    margin-top: 1%;
}

h1 span {
    color: inherit;
    font-size: 220%;
    font-family: Cabin, sans-serif;
}

/* Main section */
#icons-section {
    height: 100%;
    width: 100%;
    margin-top: 15%;
}

#instruction {
    text-align: center;
    font-size: 200%;
    margin-top: 6%;
    padding: 0;
    color: #003087;
}

.top-row {
    margin-left: 20%;
}

.bottom-row {
    margin-left: 35%;
    padding-top: 7%;
}

.link-blocks a {
    height: 200px;
    width: 200px;
    padding: 80px;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    border-color: #030303;
    margin: auto 0;
}

.link-blocks li {
    display: inline-block;
    width: 30%;
    padding-top: 10%;
}

.link-blocks a:hover {
    border-color: #003087;
}

#ps {
    background: url(../images/ps1.jpeg) no-repeat center center;
    border-radius: 50%;
    margin: auto 0;
}

#ps2 {
    background: url(../images/ps2.jpeg) no-repeat center center;
    border-radius: 50%;
}

#ps3 {
    background: url(../images/ps3.jpeg) no-repeat center center;
    border-radius: 50%;
}

#ps4 {
    background: url(../images/ps4.jpeg) no-repeat center center;
    border-radius: 50%;
}

#ps5 {
    background: url(../images/ps5.jpeg) no-repeat center center;
    border-radius: 50%;
}

/* Social media links */
footer {
    height: 15px;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 180%;
    margin-top: 10%;
    padding: 2%;
    color: #003087;
}

/* PS1 page */

#ps1-page {
    background: url(../images/ps1-background-op0.5.jpg) no-repeat;
    background-size: cover;
}

#ps-content-box {
    height: fit-content;
    width: 400px;
    margin: 13%;
    padding: 1%;
    text-align: left;
    color: #030303;
    background-color: rgba(109, 109, 110, 0.8);

}

#ps-content-box h2 {
    font-size: x-large;
    color: #003087;
}

#ps-content-box p {
    font-size: 120%;
}

p span {
    color: #EBEEFA;
    border-bottom: 1px solid #030303;
}

.embed-video {
    margin-top: -750px;
    margin-left: 50%;
}

/* PlayStation 2 page */

#ps2-page {
    background: url(../images/ps2-background-op0.5.jpg) no-repeat;
    background-size: cover;
}

/* PlayStation 3 page */

#ps3-page {
    background: url(../images/ps3-background-op0.5.jpg) no-repeat;
    background-size: cover;
}

/* PlayStation 4 page */

#ps4-page {
    background: url(../images/ps4-background-op0.5.jpg) no-repeat;
    background-size: cover;
}


/* PlayStation 5 page */

#ps5-page {
    background: url(../images/ps5-background-op0.5.jpg) no-repeat;
    background-size: cover;
}

/* Sign up page */

input[type="radio"] {
    -webkit-appearance: radio;
}


#signup-page {
    background: url(../images/signup-background-op0.5.jpg) no-repeat;
    background-size: cover;
}


.signup-container {
    height: 450px;
    width: 500px;
    background-color: rgba(109, 109, 110, 0.8);
    margin-top: 12%;
    margin-left: 35%;
    padding: 2%;
}

.signup-container label {
    color: #003087;
}

.signup-container h2,
h3 {
    padding-bottom: 3%;
    color: #003087;
}

.signup-box {
    width: 100%;
    margin: 10px 0 15px 0;
}

.form-buttons {
    margin-top: 20px;
    padding: 1.5%;
    display: block;
    color: #EBEEFA;
    background-color: #003087;
}


/* Big tablet size screen 1180px or smaller */

@media screen and (max-width: 1180px) {

    nav {
        letter-spacing: 1px;
    }

    #nav-links {
        line-height: 15px;
    }

    #nav-links li {
        margin-right: 15px;
    }

    nav i {
        font-size: 250%;
    }

    header {
        height: 70px;
    }

    h1 {
        font-size: 120%;
    }

    h1 span {
        font-size: 170%;
    }

    .link-blocks a {
        padding: 70px;
    }

    #instruction {
        font-size: 110%;
    }

    .social-links {
        display: inline-flex;
        float: left;
        margin-left: 40%;
    }

    .social-links li {
        padding-left: 20px;
    }

    .social-links i {
        font-size: 140%;
    }

    .signup-container {
        margin-left: 25%;
    }
}


/* Tablet size screen 950px or smaller */

@media screen and (max-width: 950px) {
    body{
        background-size: auto;
    }


    #nav-links {
        line-height: 10px;
    }

    #nav-links li {
        margin-right: 10px;
    }

    nav i {
        font-size: 120%;
        padding-right: 1%;
    }

    header {
        height: 50px;
        margin-top: -40px;
    }

    h1 {
        font-size: 100%;
    }

    h1 span {
        font-size: 150%;
    }

    .link-blocks a {
        padding: 50px;
    }

    #instruction {
        font-size: 90%;
    }


    .social-links li {
        padding-left: 20px;
    }

    .social-links i {
        font-size: 120%;
    }

    .signup-container {
        margin-top: -20x;
        margin-left: 20%;
    }
}

/* Small size screen 800px or smaller */

@media screen and (max-width: 800px) {

    nav li {
        margin-top: 0;
    }

    nav i {
        padding-right: 5px;
    }

    header {
        top: 8%;
    }


    #instruction {
        font-weight: 900;
        margin-top: 35%;
        border-bottom: 1px solid #003087;
        margin-left: 22.5%;
        margin-right: 22.5%;
        text-align: center;

    }

    #flex-column li {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
    }

    .link-blocks a {
        margin-left: 35%;
        padding: 0px;
    }

    .top-row {
        margin-left: 45px;
    }

    .bottom-row {
        margin-left: 45px;
    }

    #ps1-img {
        margin-top: 80px;
    }
}